.container {
  margin-top: 20px;
  position: relative; /* Ensure the container is positioned relatively */
}
 
.btn-info {
  background-color: #17a2b8;
  color: white;
  border: none;
  margin-left: 10px;
}
 
.top-right-buttons {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  z-index: 1000; /* Ensure the button is on top */
}
 
.add-employee-button {
  margin-top: 10px; /* Optional: add margin to space out buttons */
}
